/* Styles go here */

table {
  margin: 0px auto;
  width: 375px;
}
label {
  text-align: left;
}
thead {color:green;}
tbody {
  font-size: 16pt;
  color:blue;
  margin-bottom: 200px;
}
tfoot {color:red;}
th {
  text-align: center;
}
h1 {
  font-size: 60pt;
  margin: 0px;
}
h2 {
  text-align: center;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
button {
  margin: 0px auto;
  text-align: center;
  color: white;
  background-color: blue;
  padding: 10px;
  margin: 20px;
  font-size: 14pt;
  border: 1px solid black;
}

table, th, td {
  border: 1px solid black;
}
td, th{
  padding: 5px;
  font-size: 20pt;
}

#edit {
  width: 250px;
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #eee;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  margin: 10px;
  padding: 20px;
}
#close {
  position: relative;
  left: 230px;
  top: -20px;
}
#examples_label {
  position: relative;
  left: -40px;
}
#controls {
  text-align: center;
}
#deleteButton {
  margin: 0px auto;
  margin-top: 20px;
}
#recordButton {
  margin: 0px auto;
  margin-top: 20px;
}
#editButton {
  position: absolute;
  top: 50px;
  left: 50px;
}
.smaller {
  font-size: 12pt;
}
.main {
  color: black;
}
